<div class="modal" *ngIf="show">
    <div class="body">
        <div class="wrapper">
            <button class="close" (click)="onClick()">
                <img src="../../../../assets/images/icons/close-square.svg" alt="X-mark">
            </button>
            <img src="../../../../assets/images/icons/thankyou.svg" alt="Hearts Icon" class="body__icon">
            <h4 class="body__title">Успішно додано до вашого профілю.</h4>
            <p class="body__subtitle">Ви можете переглянути всі додані фільми та серіали перейшовши на вкладку "Профіль" <span>❤</span></p>
        </div>
    </div>
</div>
