<section class="small-section">
    <img class="small-section__image" src="../../../assets/images/forgot-pass.png" alt="Forgot password image">
    <h2 class="small-section__title">Забули пароль від акаунта?</h2>
    <p class="small-section__subtitle">Будь ласка, введіть свою електронну адресу, щоб надіслати запит на зміну паролю.</p>
    <div class="input-group">
    <input
        type="email"
        style="background-image: url('../../../assets/images/icons/mail-icon.svg');"
        class="form-input search-input"
        placeholder="Введіть вашу пошту"
        #passwordResetEmail
        required
    >
    </div>
    <button class="fill-button" (click)="authService.ForgotPassword(passwordResetEmail.value)">Відправити запит</button>
    <div class="additional">
        <span>Увійти з новим паролем?<span class="redirect" routerLink="/login"> Логін.</span></span>
      </div>
</section>
