<section class="login">
    <div class="container">
        <div class="wrapper">
          <div class="image">
            <img src="../../../assets/images/login-man.png" alt="Login">
          </div>
          <div class="auth-form">
              <div class="displayTableCell">
                <div class="authBlock">
                  <h3>Вхід до вашого облікового запису</h3>
                    <div class="input-group">
                      <input
                        type="email"
                        style="background-image: url('../../../assets/images/icons/mail-icon.svg');"
                        class="form-input search-input"
                        placeholder="Введіть вашу пошту"
                        #userEmail
                        required
                      >
                      <input
                        type="password"
                        style="background-image: url('../../../assets/images/icons/pass-icon.svg');"
                        class="search-input form-input"
                        placeholder="Введіть ваш пароль"
                        #userPassword
                        required
                      >
                    </div>
                  <div class="formGroup">
                    <button class="form-btn fill-button" (click)="signIn(userEmail.value, userPassword.value)">Увійти</button>
                  </div>
                  <span class="or">Або</span>
                  <div class="formGroup">
                    <button class="form-btn fill-button" (click)="googleAuth()">Увійти з Google акаунту</button>
                  </div>
                </div>
                <div class="additional">
                  <div class="forgotPassword">
                    <span routerLink="/forgot-password">Забули пароль?</span>
                  </div>
                  <span>Не маєте акаунту?<span class="redirect" routerLink="/register"> Зареєструйтесь.</span></span>
                </div>
              </div>
          </div>
        </div>
    </div>
</section>
