.footer {
    padding: 20px 0;
    background: rgb(19, 26, 49);

    &-info {
        display: flex;
        color: #A8AEBF;
        align-items: center;
        justify-content: space-around;
        .info {
            p {
                font-size: 15px;
            }
            a {
                color: rgba(123, 110, 246, 1);
                display: inline;
            }
        }
    }
}