<footer class="footer">
    <div class="container">
        <div class="footer-info">
            <div class="info">
                <p>НАЦІОНАЛЬНИЙ УНІВЕРСИТЕТ «Чернігівський колегіум» імені Т.Г. Шевченка</p>
                <p>Технологічний факультет</p>
            </div>
            <div class="info">
                <p>Виконав студент 61 групи <a href="https://github.com/BobbyJump">Скачок Д.В.</a></p>
                <p>Проєкт виконано в освітніх цілях (2022р.)</p>
            </div>
        </div>
    </div>
</footer>
