<section class="home">
    <app-modal
        (modalEvent)="showModal($event)"
        [show]="modal"
    ></app-modal>
    <div class="container">
        <h1>Головна сторінка</h1>
        <p class="description">На цьому порталі ви можете знайти <span>найкращі фільми та серіали</span> з поміж мільйонів кінострічок від провідних режисерів світового рівня. <span>Створіть свою власну неповторну галерею фільмів та серіалів</span>, оцінюйте їх та рекомендуйте своїм друзям 😉</p>
        <div class="buttons-wrap">
            <button 
                class="search-button"
                [ngClass]="{'active': activeBtn === 'movies'}"
                (click)="showMovies()"
            >Фільми</button>
            <button
                class="search-button"
                [ngClass]="{'active': activeBtn === 'tv'}"
                (click)="showTvShows()"
            >Серіали</button>
        </div>
        <div class="genres-wrap">
            <h3 class="genres-header" (click)="showGenres = !showGenres">Фільтрація по жанрам <span>(натисніть щоб побачити доступні жанри)</span></h3>
            <div class="buttons-wrap" *ngIf="showGenres">
                <button
                    *ngFor="let genre of genres; let i = index"
                    class="search-button"
                    [class.active]="selectedIndex === i"
                    (click)="getItemsByGenre(genre.id, i)"
                >{{genre.name}}</button>
            </div>
        </div>
        <div class="movies">
            <h3 class="movies__header">Підбірка рекомендованих {{ suggest }}.<br/>Можливо, щось сподобається.</h3>
            <ul class="movies__list">
                <ng-container *ngIf="activeBtn === 'all' || activeBtn === 'movies'">
                    <app-movie-card
                        *ngFor="let movie of movies"
                        [movie]="movie"
                        [suggest]="true"
                        (modalEvent)="showModal($event)"
                    ></app-movie-card>
                </ng-container>
                <ng-container *ngIf="activeBtn === 'all' || activeBtn === 'tv'">
                    <app-tv-card
                        *ngFor="let tv of tvShows"
                        [tv]="tv"
                        [suggest]="true"
                        (modalEvent)="showModal($event)"
                    ></app-tv-card>
                </ng-container>
            </ul>
        </div>
        <div class="pagination">
            <button [disabled]="currentItem === 0" (click)="decrement()">Попередня</button>
            <div class="pag-wrap" *ngIf="currentItem > 0">
                <button class="item" (click)="setCurrent(0)">1</button>
                <div class="dots">. . .</div>
            </div>
            <ng-container *ngFor="let page of totalPages; let i = index">
                <button
                    [class.active]="i === currentItem"
                    class="item"
                    *ngIf="i === currentItem || i === currentItem + 1 || i === currentItem + 2"
                    (click)="setCurrent(i)"
                >{{i + 1}}</button>
            </ng-container>
            <div class="pag-wrap" *ngIf="currentItem < totalPages.length - 1">
                <div class="dots">. . .</div>
                <button class="item" (click)="setCurrent(totalPages.length - 1)">{{totalPages.length}}</button>
            </div>
            <button 
                [disabled]="currentItem === totalPages.length - 1" 
                (click)="increment()"
            >Наступна</button>
        </div>
    </div>
</section>
