<section class="shows">
    <div class="container">
        <h1>Пошук Серіалів</h1>
        <input
            type="text"
            class="search-input"
            placeholder="Search Movies or TV Shows"
            [(ngModel)]="filterString"
            (change)="getFilteredShows()"
        >
        <div class="movies">
            <h3 class="movies__header"><span>Знайдено {{tvShows.length}} серіалів</span></h3>
            <ul class="movies__list">
                <app-tv-card *ngFor="let tv of tvShows" [tv]="tv"></app-tv-card>
            </ul>
        </div>
    </div>
</section>
