
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$kursova-primary: mat.define-palette(mat.$indigo-palette);
$kursova-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$kursova-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$kursova-theme: mat.define-light-theme((
  color: (
    primary: $kursova-primary,
    accent: $kursova-accent,
    warn: $kursova-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($kursova-theme);

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import './assets/styles/card.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
button {
    font-family: 'Poppins', sans-serif;
}
section {
    min-height: calc(100vh - 80px);
    padding: 80px 0 156px;
}
h1,
h2,
h3 {
    font-weight: 600;
    letter-spacing: -2%;
    color: #EBEEF5;
}
h1 {
    font-size: 64px;
    line-height: 80px;
}
h2 {
    font-size: 48px;
    line-height: 56px;
}
h3 {
    font-size: 32px;
    line-height: 40px;
}
h4 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1.5%;
}

a {
    display: block;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #A8AEBF;
}

button.fill-button {
    min-height: 56px;
    padding: 16px 32px;
    border: none;
    border-radius: 12px;
    background-color: #7B6EF6;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    outline: none;
    cursor: pointer;
}

.container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.description {
    max-width: 588px;
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8E95A9;
    span {
        color: #9C92F8;
    }
}

.search-input {
    outline: none;
    min-width: 344px;
    min-height: 64px;
    padding: 12px 16px 12px 56px;
    margin: 24px 0 80px;
    background: url("./assets/images/icons/search.svg") no-repeat scroll 16px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(50, 59, 84, 1);
    border-radius: 12px;
    font-size: 16px;
    line-height: 24px;
    color: rgba(118, 126, 148, 1);
    &::placeholder {
        font-size: 16px;
        line-height: 16px;
        color: #475069;
    }
}
.card__rating {
    display: inline-block;
    background-color: rgba($color: #000000, $alpha: .65);
    border-radius: 8px;
    .rating {
        padding: 8px;
        display: flex;
        column-gap: 4px;
        backdrop-filter: blur(10px);
        border-radius: 8px;
        &__score {
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            color: #FFAD49;
        }
    }
}

.movies {
    position: relative;
    z-index: 0;
    width: 100%;
    &__header {
        color: rgba(118, 126, 148, 1);
        span {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }
    }
    &__list {
        margin-top: 24px;
        list-style: none;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 20px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }
}

@media (max-width: 600px) {
    .container {
        padding: 0 10px;
    }
}
